* {
	background-color: black;
	border: 1px lime;
	font-family: "Courier New", monospace;
	color: lime;
}

body {
	font-size: 14px;
	margin: 0px 0px;
	display: flex;
}

table, th, td {
	border-style: solid;
	/*border-collapse: collapse;*/
	text-align: center;
}

th, td {
	padding: 10px
}

/*table {
	width: 100%
}*/

button.solve {
	color: lime;
	background-color: black;
	border-style: solid;
	border-radius: 8px;
	padding: 5px 10px;
	margin: 0px 10px 0px 10px;
	text-align: center;
}

button.solve:hover {
	color: black;
	background-color: lime;
}

a:hover {
	color: black;
	background-color: lime;
}

div {
	margin: 10px 50px;
}

textarea {
	border: 2px solid lime;
	border-radius: 5px;
}

textarea:focus {
	border: 2px solid red;
	outline: none;
}
